.card{
    min-height: 150px;
    min-width: 300px;
    margin-right: 5px;
    background-image: linear-gradient(to right top, #806c38, #8b7439, #957c3b, #a0853c, #ab8d3d, #a68839, #a08335, #9b7e31, #856b27, #6f581d, #594613, #45350a);

}

// .form-inline {
//   display: block;
//      position: relative;
//   flex-flow: row wrap;
//   align-items: center;
// }

